@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,200&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.showcase{
    position: absolute;
    left: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    background-color: #111;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    transition: 0.5s;
}

.showcase.active{
    left: 300px;
}

.showcase .header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toggle-button{
    position: relative;
    height: 60px;
    width: 60px;
    background: url(images/menu.png);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    filter: drop-shadow(2px 2px 1px black);
    cursor: pointer;
}

.toggle-button.active{
    background: url(images/close.png);
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center;
}
.logo{
    text-transform: uppercase;
    cursor: pointer;
}

.logo h1{
    font-size: 2em;
}
.logo h2{
    margin-top: -10px;
    font-weight: 400;
}

.showcase video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
    filter: brightness(80%) grayscale(20%);
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    mix-blend-mode: overlay;
}

.text{
    position: relative;
    z-index: 10;
}
.text h2{
    text-transform: uppercase;
    font-size: 3em;
    line-height: 1em;
    font-weight: 700;
}
.text p{
    font-size: 1.1em;
    font-weight: 400;
    margin: 20px 0;
    max-width: 700px;
}
.text a{
    display: inline-block;
    font-size: 1em;
    background-color: #fff;
    padding: 10px 30px;
    text-decoration: none;
    color: #111;
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.2s;
}
.text a:hover{
    transform: scale(0.9);
}

.social{
    position: absolute;
    bottom: 20px;
    z-index: 10;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.social li a{
    display: inline-block;
    margin-right: 20px;
    transform: scale(0.6);
    transition: 0.3s;
    filter: invert(1);
}

.social li a:hover{
    transform: scale(1) translateY(-15px);
}

.menu{
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1ebda;
}

.menu ul{
    list-style: none;
    position: relative;
}
.menu li a{
    display: inline-block;
    text-decoration: none;
    color: #333;
    font-size: 1.5em;
    padding: 5px;
    text-align: center;

}

.menu li a:hover{
    color: #ff0000;
}


@media(max-width: 700px){
    .showcase, .showcase .header{
        padding: 40px;
    }
    .text h2{
        font-size: 2.5em;
    }

}